{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": ["eslint:all", "preact", "prettier"],
  "plugins": ["simple-import-sort"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "rules": {
    "max-lines": 0,
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error",
    "one-var": "off",
    "no-var": "error",
    "no-magic-numbers": "off"
  },
  "overrides": [
    {
      "files": ["**/*.js", "**/*.ts", "**/*.tsx"]
    }
  ]
}
